{{! card type }}
<h2>Click on the Party to see the details</h2>
<div class="container">
{{#each parties}}
<div class="child">
<h3>{{name}}</h3>

    {{location}}
    {{date}}
    {{startAt}}
    {{finishAt}}
    {{musicType}}
    {{capacity}}
    {{description}}
    {{categories}}

</div>
{{/each}}
    </div>

    <div class="col child">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col child">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>