<style>
  body{ background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%; animation: gradient 15s ease infinite; height:
  100vh; */ } @keyframes gradient { 0% { background-position: 0% 50%; } 50% {
  background-position: 100% 50%; } 100% { background-position: 0% 50%; } }
</style>

<div class="container-fluid">

  <div class="party-list card">
    <img
      class="card-img-top"
      src="/images/party1.jpg"
      height="400px"
      width="400px"
      alt="Card image cap"
    />
    <div class="card-body">
      <h4 class="card-title">{{party.name}}</h4>
      <h5 class="card-title">{{party.location}}</h5>
      <p class="card-text">{{party.date}}</p>
      <p class="card-text">{{party.start}}</p>
      <p class="card-text">{{party.category}}</p>
      <p class="card-text">{{party.description}}</p>

    </div>

    <style>
      #map { height: 300px; width: 600px }

    </style>

    <div class="card-body" id="map">

      <script>

        function initMap() { const options = { zoom: 12, center: { lat: 52.52,
        lng: 13.405 } }; const map = new
        google.maps.Map(document.getElementById("map"), options); const marker =
        new google.maps.Marker({ position: { lat: 52.51317, lng: 13.44951 },
        map: map, }); const infoWindow = new google.maps.InfoWindow({ content: "{{party.name}}"
        }); marker.addListener("click", function () { infoWindow.open(map,
        marker); }); }

      </script>
      <script
        async
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxJHXRZO_vG18Q4WIRHjtQkjqz-J4Kak8&&callback=initMap"
      ></script>

    </div>

  </div>
</div>

{{! map options for Berlin lat and long  }}