<h1>{{party.name}}</h1>

<p>location : {{party.location}}</p>
<p>date : {{party.date}}</p>
<p>start at : {{party.start}}</p>
<p>music : {{party.music}}</p>
<p>description : {{party.description}}</p>
<p>Categories : {{party.category}}</p>
<a href="/parties/{{party._id}}/edit">edit</a>
<a href="/parties">all parties</a>






