 <h2>Find your best party!</h2>


    <div id="map">
</div>
    

<p>Hello World</p>
{{#each allparties}}
<p>Inside Loop</p>
<div class="party-list card" style="width: 18rem;">
  <img class="card-img-top" src="/images/party1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{date}}</p>
    <p class="card-text">{{music}}</p>
    <p class="card-text">{{category}}</p>
    <p class="card-text">{{description}}</p>

          <a href="parties/{{_id}}" class="btn btn-primary">see the details</a>
        </div>
      </div>

    </div>
</div>
  {{/each}}





 <style>

      #map {
        height: 50%;
        width: 50%;
      }
      /
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>


    
    
    <script>
     const parties = {{{stringyfiedparties}}};

      function initMap() {
        let options = {
          zoom: 13,
          center: { lat: 52.52, lng: 13.405 },
        };
           let map = new google.maps.Map(document.getElementById("map"), options);      
     
      const geocoder = new google.maps.Geocoder();

parties.forEach((party) => {
     geocoder.geocode({ address: party.location }, (results, status) => {
      if (status === "OK") {


        // Display response in the console
        console.log(results);

        // Set the location of the map obtained by the API
        map.setCenter(results[0].geometry.location);

        // Add the marker with the obtained location
        new google.maps.Marker({
      map,
          position: results[0].geometry.location,
        });
      } 
   });
    })
}
    </script>



    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxJHXRZO_vG18Q4WIRHjtQkjqz-J4Kak8&callback=initMap"
      async
      defer
    >
    </script>

    

