<div class="container-fluid">

  <h1>Welcome to your profile page {{loggedInUser.username}}</h1>
  <div class="card" style="width: 300px">

    Here are your profile details:

    <img src="https://avatars.dicebear.com/api/initials/:seed.svg"class="card-img-top" alt="..." />
    <div class="card-body text-center">
      <h5 class="card-title"> {{loggedInUser.name}}, </h5>{{loggedInUser.age}}
      <p class="card-text">
        {{loggedInUser.description}}
      </p>
      <p class="card-text">
        Where I live
        {{loggedInUser.location}}
      </p>
      <p class="card-text">
        The Music I prefer at a Hausparty:
        {{loggedInUser.music}}
      </p>
      <p class="card-text">
        Who are you at the party?
        {{loggedInUser.partyType}}
      </p>
      <a href="/users/{{loggedInUser.id}}/edit" class="btn btn-primary">Edit
        Profile</a>
    </div>
  </div>
