{{> navbar}}

<section class="card-detail">
    <article class="card-detail-body">
      <div class='edit-container'>

      
    <form action="/users/{{loggedInUser._id}}/edit" method="POST">
      <div class="form">
      

            
     <label class="form-label"> Avatar
         <select class="form-select" name="avatar">
      <option value="{{loggedInUser.avatar}}"</option>
      <option value="initials">Initials</option>
      <option value="croodles">Croodles</option>
      <option value="personas">Personas</option>
       <option value="human">Human</option>
       <option value="bottts">Boots</option>
       <option value="avataaars">Avatar</option>
    </select>
        </label>

        
    <label class="form-label"> Profile Name
          <input type="text" name="name"
          value="{{loggedInUser.name}}" class="form-control" />
        </label>

        
        <label class="form-label"> Age
          <input type="number" name="age"
          value="{{loggedInUser.age}}" class="form-control" />
        </label>

        <label class="form-label"> Neighbourhood
          <input type="text" name="location"
          value="{{loggedInUser.location}}" class="form-control" />
        </label>

        
        <label class="form-label"> Music
         <select class="form-select" name="music">
      <option value="{{loggedInUser.music}}"</option>
      <option value="Techno">Techno</option>
      <option value="Hiphop">Hiphop</option>
      <option value="Pop">Pop</option>
       <option value="Disco">Disco</option>
       <option value="Charts">Charts</option>
    </select>
        </label>

        <label class="form-label"> Your Party Type
          <select class="form-select" id="partyType" name="partyType">
      <option value="{{loggedInUser.partyType}}"</option>
      <option value="The Superstar: That person who thinks to know all the lyrics to every song in existence. Every night out turns into an audition for The Voice." 
      >Superstar</option>




      <option value="The Overly Drunk Person: It doesn’t matter where you go: a concert, club or bar, there is always that one person who crashes way too fast."> The Overly Drunk Person input </option>
      
      <option value="The Drunk Paparazzo: You’ll find this person roaming the party with a selfie stick in one hand and a power bank in the other. Just to make sure every single party moment is well-documented.">The Drunk Paparazzo </option>

       <option value="The Aggressive Shot Pusher: That person who will only stop yelling after you’ve done your shot. Come on, it’s only one!">The Aggressive Shot Pushe</option>
       <option value="The Babysitter: Being the babysitter amongst your drunk friends is like being a kindergarten teacher on a field trip. “Follow the group!” “Don’t touch that!” “DON’T DRINK THAT!”">The Babysitter</option>
       <option value="The Person Who Only Smokes When They’re Drunk: To a sober person, cigarettes are unhealthy and have a nasty smell. While a drunk person will have four cigarettes on hand and two more in their mouth.">The Person Who Only Smokes When They’re Drunk</option>
       <option value="The Professional Beer Pong Player: To this one, beer pong is not just a game. It’s a lifestyle.">The Professional Beer Pong Player</option>
       <option value="The Table Dancer: We all cringe a little when someone starts dancing on the table. Not in fear of their safety but rather ours.">The Table Dancer</option>
       <option value="The Crier: Tears will flow with this one, whether it’s because of a nasty fall (off the table perhaps) or for simply no reason at all.">The Crier</option>
       <option value="The Playlist Hijacker: The person who is the first one to connect to the speakers and the last one to take song requests.">The Playlist Hijacker</option>
       <option value="The Freestyler: Tears will flow with this one, whether it’s because of a nasty fall (off the table perhaps) or for simply no reason at all.``">The Freestyler
</option>
    </select>

        <label class="form-label">Description 
          <textarea name="description" class='form-control' rows='5' value="{{loggedInUser.description}}"placeholder="{{loggedInUser.description}}"></textarea>
        </label>
           
     
      <button type="submit" class="btn btn-primary">Update Information</button>
    </form>
  </section>
  </article>
  </div>