
{{> navbar}}
<div class="edit-container">

  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


   
    <div class="form profile">
<img class="discoball"src="/images/disco-ball.gif" alt="">
      
        <div class=" image d-flex flex-column justify-content-center align-items-center"> 
          <br>
          
    <img src="https://avatars.dicebear.com/api/{{loggedInUser.avatar}}/{{loggedInUser.name}}.svg" height="150" width="150" />
      
      

        
        <span class="profile-name">{{loggedInUser.name}}</span>
         {{!-- <span class="idd">{{loggedInUser.username}}</span> --}}
            <div><span class="idd1">{{user.data}}</span> 
            
            <span>  Level: {{loggedInUser.age}}    </span> 
            </div>
           <div> <span class="text">🚀 {{formatDate loggedInUser.createdAt}}
            </span> </div>
            <div id="partyType"class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="text">{{loggedInUser.partyType}} 
           {{!-- {{imageList}} --}}
             
            </span> </div>
<br>
            <div> <span class="text"> {{loggedInUser.music}} 
              
            </span> </div>

            
            <div class="neighbourhood"> 
              📍 {{loggedInUser.location}}
              </div>

 <div> <span class="text"> {{loggedInUser.description}} 
              
            </span> </div>


            

               <a href="/users/{{loggedInUser.id}}/edit" class="btn btn-primary">Edit
        Profile</a>
              
            <div 
            
       
 


